@font-face {
  font-family: wichFont;
  src: url(Nightcore\ Demo.ttf);
}

html,
body {
  font-family: wichFont;
  background-image: url("../img/background-page.png");
  height: 100%;
  width: 100%;
}

.all {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.fix{
  position: relative;
  bottom: 150px;
  left: 5px;
}
.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

canvas {
  position: relative;
  background-image: url("../img/photo-niebla_2.jpg");
  background-size: cover;
  background-position: center;
  border: 5px solid rgb(162, 0, 255);
}

.cont-p {
  width: 800px;
  height: 300px;
  margin: 60px 0px 10px 30px;
  padding: 20px 0px 0px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
  color:black;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 4px;
  z-index: 2;
}
h1 {
  margin: 0px 0px 10px 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 300px;
  color: #c3bbbb;
  font-size: 35px;
  font-weight: 100;
  letter-spacing: 5px;
}

.left {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly
}
.column{
  display: flex;
  flex-direction: column;
}

p{
  color:#ffffff;
  font-family: wichFont;
  margin-inline: 10px;
}

.button {
  margin: 0px 0px 15px 2px;
  background: linear-gradient(to bottom, #050505 5%, #050505 100%);
  background-color: #050505;
  border-radius: 6px;
  border: 3px solid #050505;
  color: #ffffff;
  font-family: wichFont;
  letter-spacing: 10px;
  font-size: 19px;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
  text-shadow: 0px -1px 5px #030303;
}

.button:hover {
  background: linear-gradient(to bottom, #393636 5%, #050505 100%);
  background-color: #272424;
}
.invisible {
  display: none;
  visibility: hidden;
}
.visible {
  position: absolute;
  visibility: visible;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul{
  list-style: none;
  margin-left: 150px;
  letter-spacing: 5px;
  font-weight: bolder;
}
.pale{
  background-color: #4c4b4b;
  margin: 0px 0px 15px 2px;
  background: linear-gradient(to bottom, #414040 5%, #3a3a3a 100%);
  border-radius: 6px;
  border: 3px solid #353434;
  color: #ffffff;
  font-family: wichFont;
  letter-spacing: 10px;
  font-size: 19px;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
  text-shadow: 0px -1px 5px #030303;
}
